<%= stylesheet_link_tag "login.css", "util.css" %>
<head>

</head>

<%= form_with(model: type, local: true) do |form| %>
<body>
    <div class="container-form">
        <div class="content-box">
            <div class="form-box">
            <div class="img-box">
            </div>
                <form>
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input class="input100" <%= form.text_field :name, class: "form-control", placeholder: "Nome do Tipo"%>
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>    
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                    <input class="input100" <%= form.text_field :image, class: "form-control", placeholder: "Cor"%>
                    <span class="focus-input100" data-placeholder="&#xe82a;"></span>    
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                 <button class="login100-form-btn">
                 <%= form.submit "Cadastrar" %>
                 </button>
             </div>

                    <div class="input-box">
                      <% if type.errors.any? %>
                        <div id="error_explanation">
                       <ul>
                          <span style="color: red">Ops! Problema ao salvar:</span>
                            <% type.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                       <% end %>
                     </ul>
                    </div>
                    <% end %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<% end %>